
html, body {
    font-family: 'Noto Sans KR', sans-serif;
    width: 1440px;
    height: auto;
    margin: auto;
    font-size: 24px;
    background-color: hsl(105, 55%, 96%);
    color: hsl(215, 50%, 23%);
}
header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: hsl(355, 78%, 56%);
    color: hsl(105, 55%, 96%);
    height: 85px;
}
nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
main {
    display: grid;
    max-width: 1140px;
    max-height: 3000px;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 2fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px 20px;
    grid-template-areas:
    "splash splash splash"
    "mission mission mission"
    "missioncon missioncon missioncon"
    "services services services"
    "about about about"
    "quote quote quote"
    "footer footer footer"
}
h2{
    text-align: center;
}
.splash {
    display: flex;
    grid-area: splash;
    background-image: url("../images/removalvanimage.jpg");
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.splash h1{
    margin-bottom: 5px;
}
.mission {
    grid-area: mission;
}
.missioncon {
    grid-area: missioncon;
    display: flex;
    align-content:space-between;
    justify-content: flex-start;
    flex-direction: row;
}
.missioncon img{
    max-width: 30%;
}
.services {
    grid-area: services;
}
.about {
    grid-area: about;
}
.quote{
    grid-area: quote;
}
.footer{
    grid-area: footer;
}

