
html, body {
    font-family: 'Noto Sans KR', sans-serif;
    width: 1440px;
    height: auto;
    margin: auto;
    font-size: 24px;
    background-color: whitesmoke;
    color: hsl(215, 50%, 23%);
}
header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: hsl(215, 50%, 23%);
    color: whitesmoke;
    height: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
}
nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content: center;
}
main {
    margin: auto;
    /*grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 2fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px 20px;
    grid-template-areas:
    "splash splash splash"
    "mission mission mission"
    "missioncon missioncon missioncon"
    "services services services"
    "about about about"
    "quote quote quote"
    "footer footer footer"*/
}
h2{
    text-align: center;
}
.splash {
    display: flex;
    /*grid-area: splash;*/
    background-image: url("../images/removalvanimage.jpg");
    background-size: 50%;
    max-width: 100%;
    height:500px;
    background-position:left;
    background-repeat: no-repeat;
    align-content: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

}
.splash .text {
    align-self: flex-end;
    width: 400px;
    flex-shrink: 1;
    margin-right: 150px;
}
.mission {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}
.text {
    display: flex;
    float:left ;
    justify-content: flex-start;
    flex-direction: column;
}
.mission img{
    display: flex;
    max-width: 30%;
    height: auto;
    flex-direction: row;
    justify-content: flex-end;
}
.services {
    padding-top: 20px;
    padding-bottom: 20px;
}
.descriptions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.services .images{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.images .a {
    max-width: 400px;
    height: auto;
}
.images .b {
    max-width: 400px;
    height: auto;
}
.images .c {
    max-width: 400px;
    height: auto;
}
.about {
    padding-top: 20px;
    padding-bottom: 20px;
}
.gallery {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.Tom {
    text-align: center;
}
.Jane {
    text-align: center;
}
.footer{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: hsl(355, 78%, 56%);
    color: whitesmoke;
}

